@font-face {
  font-family: 'SequelSansDisp';
  src: url(../public/fonts/SequelSansDisp.woff) format('woff');
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p,
h1 {
  margin: 0;
  font-family: 'SequelSansDisp';
  font-size: 4em;
  color: #000;
}